/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

.container-flex{
    margin: 1% 20%;
    display: flex;
    background-color: gold;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: 0.2rem dotted black;
    width: 60%;
}

.logo-login{
    margin-left: 2rem;
    margin-right: 2rem;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-left: 0.2rem dotted black;
    border-right: 0.2rem dotted black;

}

ul{
    list-style-type: none
}

li{
    margin: 0.5rem;
}

.section-blue{
    display: flex;
    flex-direction: row;
    background-color: navy;
    justify-content: center;
}

.container-pink{
    margin: 1% 20%;
    display: flex;
    background-color: magenta;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: 0.2rem dotted black;
    width: 40%;
   height: 20rem;
}
.section-white{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
}

.container-cyan{
    margin: 1% 20%;
    display: flex;
    background-color: white;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: 0.2rem dotted black;
    width: 60%;
   height: 30rem;
}

.red{
    background-color: skyblue;
    flex-direction: row;
    border-right: 0.2rem dotted black;
    width: 70%;
    height: 100%;
}

.green{
    background-color: pink;
    flex-direction: row;
    width: 30%;
    height: 100%;
}

.section-grey{
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    justify-content: center;
}

.container-magenta{
    margin: 1% 20%;
    display: flex;
    background-color: lightgray;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    border: 0.2rem dotted black;
    width: 60%;
   height: 30rem;
}

.section-white{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
}

.container-cyan{
    margin: 1% 20%;
    display: flex;
    background-color: white;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: 0.2rem dotted black;
    width: 60%;
   height: 30rem;
}

.container-oliva{
    margin: 1% 20%;
    display: flex;
    background-color: darkgreen;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    border: 0.2rem dotted black;
    width: 60%;
   height: 50rem;
}

.section-multiple{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
}

.container-purple{
    margin: 1% 20%;
    display: flex;
    background-color: purple;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    border: 0.2rem dotted black;
    width: 60%;
   height: 30rem;
}

.flex2{
    display: flex;
    background-color: black;
}

.container-flex2{
    margin: 0 20%;
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: 0.1rem solid black;
    width: 60%;
    height: 3rem;
    margin-top: 0.2%;

}

.logo-bottone{
    background-color: pink;
    border: 0.2rem dotted black;
}

.logo-bottone2{
    margin: 0.2rem;
}

