/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maxi-section{
    margin: 0 auto;
    background-color: lightblue;
    max-width: 1200px;
}
.upper-bar{
    display: flex;
    background-color: orange;
    border: 1px dotted black;

}